{{template "base" .}}
{{define "title"}}Error{{end}}
{{define "content"}}
	<div class="container">
		<h1>Error encountered.</h1>
		<span class="label label-danger">{{.Error}}</span>
		<hr>
		<div class="panel panel-danger">
			<div class="panel-heading">Stacktrace:</div>
			<div class="panel-body">
				<div class="collapse-group">
					<a data-toggle="collapse" data-target="#trace">Toggle Stacktrace</a>
					<div id="trace" class="collapse">{{.StackTrace}}</div>
				</div>
			</div>
		</div>
	</div>
{{end}}