{{template "base" .}}
{{define "title"}}Error{{end}}
{{define "content"}}
	<div class="container">
		<h1>Error encountered.</h1>
		<span class="label label-danger">{{.Error}}</span>
		<div class="well">
			<div class="clearfix">
				<h3 class="well-title">Stacktrace:</h3>
				<div class="uk-hidden">{{.StackTrace}}</div>
			</div>
		</div>
	</div>
{{end}}