{{template "base" .}}
{{define "title"}} {{.Type.GetName}} {{end}}
{{define "content"}}
	<div class="well">
		<div class="container">
			<h1>Name: {{.Type.GetName}}</h3>
			<h5>TypeName: {{.Type.TypeName}}</h5>
			<h5>TypeID: {{.Type.TypeID}}</h5>
			<hr>
			{{if .Type.GetAttribute "mDescription"}}
				<h1>Description:</h3>
				<p>{{.Type.GetAttribute "mDescription"}}</p>
			{{end}}
			<hr>
			<h1>Attributes</h1>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>Attribute Name</td>
						<th>Attribute Value</td>
					</thead>
					<tbody>
					{{range $k, $v := .Type.Attributes}}
						<tr>
							<td>{{$k}}</td>
							<td>{{$v}}</td>
						</tr>
					{{end}}
					<tbody>
				</table>
			</tbody>
		</div>
	</div>
{{end}}